*{
    /* border: 1px solid black; */
    box-shadow: border-box;
    margin: 0;
    padding: 0px;
}
body{
    background-color: rgb(53, 4, 82);
}
.container{
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    background-image: linear-gradient(rgb(157, 74, 182), rgb(17, 6, 24));
    margin-top: 5%;
}
.sec1{
    margin-left: 5%;
    /* box-shadow: ; */
    text-align: center;
    padding: 8vh;
}
.sec2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 50%; */
}
img{
    padding: 20px;
    height: 210px;
    width: 210px;
}
button{
    margin-top: 3%;
    background-color: rgb(25, 158, 25);
    padding: 3%;
    height: 8vh;
    width: 40vh;
    border-radius: 8vh;
}
button:hover{
    background-color: rgb(54, 231, 54);
}
h1{
    font-size: 300%;
}
p{
    font-size: 200%;
}
button, h1, p{
    color: white;
}
.pic1{
    position: relative;
    z-index: 0;
}
.pic > .how1{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
}